<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1 align="center"  style="background-color: rgb(238, 50, 88);"> LCU </h1>
        <div style="background-color: rgb(182, 173, 173);">
            <h1 align="left" style="color: blue;">
                DILLI
            </h1>
            <h1  align="center"   style="color: yellow;">ROLEX</h1>
            <h1 align="right"  style="color: maroon;"> SANTHAANAM</h1>
            <h1  align="center" style="background-color: rgb(255, 143, 143);" >
                BLOODY SWEET!!!
            </h1>
        </div>
        <h1>{{name}}</h1>
        <h1 align="right">{{nm}}</h1>
    </center>
</body>
</html>
